.trends {
  /*width: 100%;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.trends_title {
  font-size: 1.6rem;
  margin-right: 10px;
  color: rgb(108, 108, 108);
}

.percentage {
  font-size: 1.6rem;
}
