.metric_container {
  /*background-color: yellow;*/
  width: 96%;
  margin: 1rem auto;
  padding: 0;

  display: grid;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.metric_container_cols {
  grid-template-columns: 1fr 1fr 2fr;
}

@media (max-width: 900px) {
  .metric_container_cols {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .metric_container_cols {
    grid-template-columns: 1fr;
  }
}
