.requests {
  background-color: white;
  /*padding: 15px 0;*/
  width: 100%;
  overflow: hidden;
}

.requests_header {
  display: flex;
  padding: 2.5rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.requests_header_description h3 {
  color: rgb(30, 30, 30);
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.requests_header_description p {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(158, 158, 158);
  letter-spacing: 0.5px;
}

.requests_replay {
  /*background-color: red;*/
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.replay_btn {
  color: rgb(106, 106, 106);
  background-color: transparent;
  border: none;
  padding: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
}

.replay_btn:hover {
  background-color: rgb(243, 243, 243);
}

.replay_btn:active {
  background-color: rgb(171, 171, 171);
}

.requests_list {
  padding-bottom: 2.5rem;
  /*background-color: #61dafb;*/
}

.requests_ulist {
  list-style: none;
  height: 29.7rem;

  overflow: scroll;
}
